.home {
	width: 100%;
	align-items: center;
}
.button {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: green;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}
.portrait {
	height: 250px;
	clip-path: circle();
}

.about {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #95908f;
	background-image: url("../files/banner.png");
	color: #eff7f7;
}

.skills {
	background-color: #7a7a7a;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 50px;
	height: 50px;
}

.about .prompt {
	font-size: 25px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.prompt svg {
	font-size: 60px;
	margin: 5px;
}

@media only screen and (max-width: 800px) {
	.about {
		padding-top: 50px;
	}
	.about h2 {
		font-size: 40px;
	}

	.about .prompt {
		font-size: 20px;
		width: 80%;
	}

	.skills {
		text-align: center;
	}
	.list {
		padding: 0;
	}

	.skills h2 {
		font-size: 30px;
	}
}

.icons {
	cursor: pointer;
}

@media only screen and (max-height: 700px) {
	.about {
		padding-top: 50px;
	}
	.about h2 {
		font-size: 40px;
	}

	.about .prompt {
		font-size: 20px;
		width: 80%;
	}

	.skills {
		text-align: center;
	}

	.skills h2 {
		font-size: 30px;
	}
}

.icons {
	cursor: pointer;
}
