.project {
	font-family: "Segoe UI", Tahoma, sans-serif;
	background-image: url(../files/banner.png);
	background-size: 100% 100%;
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.icon {
	cursor: pointer;
}

.project h1 {
	margin-top: 50px;
	color: white;
	font-size: 35px;
}
.project img {
	width: 300px;
	border-radius: 10px;
}

.project img:hover {
	color: black;
	background: #49273f;
	box-shadow: 0 0 10px lightblue, 0 0 10px #49273f, 0 0 10px #49273f;
	transform: scale(1.05);
	transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project p {
	font-size: 40px;
	color: white;
}

.project svg {
	font-size: 60px;
	color: white;
}
