h2 {
	color: white;
}

.technology {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-image: url("../files/banner.png");
	height: calc(100vh - 100px);
}

.technology-stack-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 100px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 50px;
	gap: 10rem;
}

.technology-stack-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	background: var(--container-color);
	border-radius: 1rem;
	border-style: double;
	background-color: white;
	transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.technology-stack-box:hover {
	color: black;
	background: lightgreen;
	box-shadow: 0 0 10px lightblue, 0 0 10px #2196f3, 0 0 10px #2196f3;
	transform: scale(1.05);
	transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.technology-stack-box .bx {
	font-size: 1.4rem;
	color: var(--main-color);
	padding: 10px;
	border-radius: 1rem;
	border: 2.5px dashed var(--bg-color);
}

.technology-stack-box h2 {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0.5rem 0;
	color: var(--main-color);
}

.technology-stack-box p {
	font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
	.technology-stack-content {
		width: 80%;
		padding-top: 15px;
		padding-right: 5px;
		padding-left: 10px;

		gap: 1rem;
	}

	.technology-stack-box {
		padding: 5px;
	}
}
